<div class="example-wrapper">
    <kendo-dropdownlist [data]="data" [filterable]="true" [textField]="'name'" [valueField]="'countryCode'"
        [(ngModel)]="selectedCountry" (filterChange)="handleFilter($event)"
        (valueChange)="updatephoneNumber()">
        <ng-template kendoDropDownListItemTemplate let-dataItem>
            <span>{{ dataItem.name }}</span> <span style="color: blue;">&nbsp; +{{ dataItem.dialCode }}</span>
        </ng-template>
    </kendo-dropdownlist>
    <input kendoTextBox [(ngModel)]="phoneNumber" (focusout)="verifAndEmit()" (keydown)="keyDown($event)" (keypress)="validateNumber($event)" [placeholder]="placeholder" />
</div>