<p>Exemple 1: basic usage and search with country name</p>
<phone-validator [(ngModel)]="phoneNumber1" [searchField]="'name'"></phone-validator>
<br />

<p>Exemple 2: basic usage with outputFormat</p>
<phone-validator [(ngModel)]="phoneNumber2" [placeholder]="'+31881122334'" [outputFormat]="'rfc3966'"></phone-validator>
<p>{{phoneNumber2}}</p>
<br />

<p>Exemple 3: into form and search with country Code</p>
<form [formGroup]="form1">
    <phone-validator formControlName="phoneNumber" [searchField]="'countryCode'"></phone-validator>
    <p>{{form1.value | json  }}</p>
    <p>valid: {{form1.valid}}</p>
</form>
<br />

<p>Exemple 4: into form with required phoneNumber and custom Error message and json output</p>
<form [formGroup]="form2">
    <phone-validator formControlName="phoneNumber" (state)="getState($event)" (inputError)="getInputError($event)">
    </phone-validator>
    <p>{{form2.value | json  }}</p>
    <p>valid: {{form2.valid}}</p>
    <p>state: {{state | json  }}</p>
    <p>custom message: {{inputError | json}}</p>
</form>
<br />

<p>Exemple 5: preferredCountryCodes and defaultCountryCode</p>
<phone-validator [(ngModel)]="phoneNumber3" [preferredCountryCodes]="preferredCountryCodes" [defaultCountryCode]="'tn'"></phone-validator>
<p>{{phoneNumber3}}</p>
<br />

<p>Exemple 6: width change</p>
<phone-validator [(ngModel)]="phoneNumber4"  [widthInput]="'40%'" [height]="'35px'"></phone-validator >
<br />

<p>Exemple 7: change Language</p>
<phone-validator [(ngModel)]="phoneNumber5" [language]="'fr'" ></phone-validator >
<br />