<p>Exemple 1: basic usage and search with country name</p>
<app-number [(ngModel)]="phoneNumber1" [searchField]="'name'"></app-number>
<br />

<p>Exemple 2: basic usage with outputFormat</p>
<app-number [(ngModel)]="phoneNumber2" [placeholder]="'+31881122334'" [outputFormat]="'rfc3966'"></app-number>
<p>{{phoneNumber2}}</p>
<br />

<p>Exemple 3: into form and search with country Code</p>
<form [formGroup]="form1">
    <app-number formControlName="phoneNumber" [searchField]="'countryCode'"></app-number>
    <p>{{form1.value | json  }}</p>
    <p>valid: {{form1.valid}}</p>
</form>
<br />

<p>Exemple 4: into form with required phoneNumber and custom Error message and json output</p>
<form [formGroup]="form2">
    <app-number formControlName="phoneNumber" (state)="getState($event)" (inputError)="getInputError($event)">
    </app-number>
    <p>{{form2.value | json  }}</p>
    <p>valid: {{form2.valid}}</p>
    <p>state: {{state | json  }}</p>
    <p>custom message: {{inputError | json}}</p>
</form>
<br />

<p>Exemple 5: preferredCountryCodes and defaultCountryCode</p>
<app-number [(ngModel)]="phoneNumber3" [preferredCountryCodes]="preferredCountryCodes" [defaultCountryCode]="'tn'"></app-number>
<p>{{phoneNumber3}}</p>
<br />

<p>Exemple 5: width change</p>
<app-number [(ngModel)]="phoneNumber4"  [widthInput]="'40%'" [height]="'35px'"></app-number >
<br />



<!-- <p>Exemple 1:</p>
<app-number (state)="getState($event)" [required]="false" (inputError)="getInputError($event)"
    [placeholder]="'+31881122334'" [searchField]="'all'" [preferredCountryCodes]="preferredCountryCodes"
    [outputFormat]="'rfc3966'">
</app-number> -->